@model AllAnimalViewModel

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Animal Name</th>
                <th>Date Of Birth</th>
                <th>Person</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var animal in Model.Animals)
            {
                <tr>
                    <td>
                        <a asp-controller="Animal" asp-action="AnimalDetail" asp-route-id="@animal.Id">@animal.AnimalName</a>
                    </td>

                    <td>
                        @(
                            animal.DateOfBirth.ToLocalTime().ToString("MM/dd/yyyy")
                        )
                    </td>
                    <td>
                        @(Model.Persons.Where(p => p.Id == animal.PersonId)
                            .FirstOrDefault().FirstName
                         )
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>